body {
    color : #110437;
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;   
}

footer {
    color: #676767;
    padding: 16px 0;
    margin-top: 16px;
    border-top: 2px solid rgb(160, 160, 160);
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}
button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}